In [1]:
def greet(): 
    print('hello')
    print('good morning team')

In [2]:
def greet(): 
    print('hello')
    print('good morning team')
greet()

hello
good morning team

In [3]:
def greet(): 
    print('hello')
    print('good morning team')
greet()

def greet(): 
    print('hello')
    print('good morning team')
greet()

hello
good morning team
hello
good morning team

In [4]:
def greet(): 
    print('hello')
    print('good morning team')
greet()

print()

def greet(): 
    print('hello')
    print('good morning team')
greet()

hello
good morning team

hello
good morning team

In [5]:
def greet(): 
    print('hello')
    print('good morning team')
greet()

print()

def greet(): 
    print('hello')
    print('good morning team')
greet()

print()

def greet(): 
    print('hello')
    print('good morning team')
greet()

hello
good morning team

hello
good morning team

hello
good morning team

In [10]:
def greet():  # declare function without argument
    print('hello')
    print('good morning team')
greet()
print('***********')
greet()
print('***********')
greet() # function calling  with out argument)

hello
good morning team
***********
hello
good morning team
***********
hello
good morning team

In [11]:
# function without argument

def greet(): 
    print('hello')
    print('good morning team')
greet()

hello
good morning team

In [14]:
# function with argument 

def add(x,y):
    c=x+y
    print(c)  
   
add(5,6)

11

In [15]:
# function with argument 

def add(x,y):
    c=x+y
    return c  
   
add(5,6)

11

In [16]:
# function with argument 

def add(x,y):
    c=x+y
    return c  
   
add(5)

TypeError: add() missing 1 required positional argument: 'y'

In [17]:
# function with argument 

def add(x,y):
    c=x+y
    return c  
   
add(5,6,7)

TypeError: add() takes 2 positional arguments but 3 were given

In [18]:
# function with argument 

def add(x,y,z):
    c=x+y
    return c  
   
add(5,6,7)

11

In [21]:
# function with argument 

def add(x,y,z):
    c=x+y+z+m 
    return c  
   
add(5,6,7)

NameError: name 'm' is not defined

In [22]:
# function with argument 

def add(x,y,z,n):
    c = x+y+z+m 
    return c  
   
add(5,6,7,8)

NameError: name 'm' is not defined

In [23]:
# function with argument 

def add(x,y,z,n):
    c = x+y+z+n
    return c  
   
add(5,6,7,8)

26

In [24]:
def greet(): 
    print('hello')
    print('good morning team')
greet()

def add(x,y):
    c = x+y
    return c  
   
add(5,6)

hello
good morning team

11

In [27]:
def greet(): 
    print('hello')
    print('good morning team')
    
def add(x,y):
    c = x+y
    return c  

def sub(x,y):
    d = x-y
    return d


greet()   
print(add(5,6))
print(sub(5,6))

hello
good morning team
11
-1

In [32]:
def add_sub(x,y): 
    c= x+y
    d= x-y
    return c, d 
    
result = add_sub(4,5)
print(result)
print(type(result))

(9, -1)
<class 'tuple'>

In [33]:
def add_sub(x,y): 
    c= x+y
    d= x-y
    return c, d 
    
result, result1 = add_sub(4,5)

print(result)
print(result1)
print(type(result))

9
-1
<class 'int'>

In [39]:
def add_sub_mul(x,y): 
    c= x+y
    d= x-y
    e= x*y
    return c, d, e 
    
add, sub, mul = add_sub_mul(4,5)

add
sub
mul

20

# update

In [1]:
def update(): 
    x = 8
    print(x)
update()

8

In [2]:
def update(): #update function take the value from the user
    x = 8
    print(x)
    
update(8)

TypeError: update() takes 0 positional arguments but 1 was given

In [ ]:
def update(x): #update function take the value from the user
    x = 8
    return x
    
update(100)

8

In [3]:
def update(x):  
    x = 8
    return x
    
a = 15
update(a)
print(a)

15

In [12]:
def update(x):  
    x = 8
    return x
    
x = 15
update(x)
print(x)

15